<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167105961-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-167105961-1');
	</script>
	<title>Minecraft Боровик</title>
	<link rel="stylesheet" href="http://getskeleton.com/dist/css/skeleton.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Сервер Minecraft школы Артема Боровика">
  	<meta name="author" content="">
  	<link rel="icon" type="image/png" href="static/favicon.png">
<style>
body {
	background: url(https://webfon.top/wp-content/uploads/2018/10/minecraft-ground.png) left top repeat;
	}
p,h1,h2, li, ul  {
	background-color: white;
	padding:5px 5px 5px 5px; 
}	

</style>

<script>
function copy(text) {
    var input = document.createElement('textarea');
    input.innerHTML = text;
    document.body.appendChild(input);
    input.select();
    var result = document.execCommand('copy');
    document.body.removeChild(input);
    alert('Адрес borovik.fun скопирован');
    return result;
}

</script>
</head>
<body>
<div class="container">

	<h1> Borovik server: Java &amp; Bedrock</h1>

	<h2>Сервер для игры со своими друзьями</h2>


	<div class="row">
		<div class="six columns">
			<p class='center' >Наш ip:&nbsp;<span style="color:#1abc9c">borovik.fun&nbsp;</span> <a class="button" href='javascript:copy("borovik.fun")'>Скопировать адрес</a></p>
			<p class='center'>Версия для ПК: {{stats.version}}</p>
			<p class='center'>Версия для bedrock:&nbsp;1.14.60.5</p>
			<p>Наш сервер всегда рад новым игрокам! ip подходит как&nbsp;для Java, так и для Bedrock.</p>
			<p>Сейчас онлайн:
				{% if is_oneline %}
					{% for o in stats.players %}
						{{o}}{% if forloop.last is not True %}, {% endif %} 
					{% endfor %}
				{% else %}
					Сервер офлайн
				{% endif %} 

			</p>
		</div>
		<div class="six columns">
		 <a class="button button-primary" href='https://money.yandex.ru/to/410013560878456/100'>Пожертвовать на классный сервер</a>
		<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D1%82%D1%8C%20%D1%80%D1%83%D0%B1%D0%BB%D0%B5%D0%BC&targets-hint=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D1%82%D1%8C%20%D1%80%D1%83%D0%B1%D0%BB%D0%B5%D0%BC&default-sum=100&button-text=11&payment-type-choice=on&mobile-payment-type-choice=on&hint=&successURL=&quickpay=shop&account=410013560878456" width="423" height="222" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
		</div>
	</div>
  

</div>

</body>
</html>
